<a href="https://colab.research.google.com/github/jonatastbelotti/mo432-trab3/blob/master/Trab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Jônatas Trabuco Belotti</br>
RA: 230260</br>
jonatas.t.belotti@hotmail.com</br>
Repositório GitHub: https://github.com/jonatastbelotti/mo432-trab3

# Leia

Leia o arquivo [dados3.csv](https://www.ic.unicamp.br/~wainer/cursos/1s2020/432/dados3.csv). O arquivo é um banco de dados conhecido sobre credito bancario na Australia, mas com alguns dos atributos categóricos originais. A descrição dos dados pode ser encontrada [aqui](https://archive.ics.uci.edu/ml/datasets/Statlog+%28Australian+Credit+Approval%29). O atributo de saída é V15 (classes 1 e 2).

In [1]:
import pandas as pd

df = pd.read_csv("/content/dados3.csv")
df

     V1     V2      V3  V4  V5  V6     V7  V8  V9  V10  V11 V12  V13   V14  V15
0     1  22.08  11.460   2   k  bb  1.585   0   0    0    1   g  100  1213    0
1     0  22.67   7.000   2   c  bb  0.165   0   0    0    0   g  160     1    0
2     0  29.58   1.750   1   k  bb  1.250   0   0    0    1   g  280     1    0
3     0  21.67  11.500   1   j   j  0.000   1   1   11    1   g    0     1    1
4     1  20.17   8.170   2  aa  bb  1.960   1   1   14    0   g   60   159    1
..   ..    ...     ...  ..  ..  ..    ...  ..  ..  ...  ...  ..  ...   ...  ...
685   1  31.57  10.500   2   x  bb  6.500   1   0    0    0   g    0     1    1
686   1  20.67   0.415   2   c  bb  0.125   0   0    0    0   g    0    45    0
687   0  18.83   9.540   2  aa  bb  0.085   1   0    0    0   g  100     1    1
688   0  27.42  14.500   2   x   h  3.085   1   1    1    0   g  120    12    1
689   1  41.00   0.040   2   e  bb  0.040   0   1    1    0   s  560     1    1

[690 rows x 15 columns]

# Preprocessamento

Faça a conversão dos atributos categóricos (V5, V6 e V12) para numéricos, usando one-hot-encoder/dummy variables.

In [2]:
for col in ["V5", "V6", "V12"]:
  dummies = pd.get_dummies(df[col])
  df = pd.concat([df, dummies], axis=1)
  df = df.drop([col], axis=1)

df

     V1     V2      V3  V4     V7  V8  V9  V10  V11  ...  ff  h  j  o  v  z  g  p  s
0     1  22.08  11.460   2  1.585   0   0    0    1  ...   0  0  0  0  0  0  1  0  0
1     0  22.67   7.000   2  0.165   0   0    0    0  ...   0  0  0  0  0  0  1  0  0
2     0  29.58   1.750   1  1.250   0   0    0    1  ...   0  0  0  0  0  0  1  0  0
3     0  21.67  11.500   1  0.000   1   1   11    1  ...   0  0  1  0  0  0  1  0  0
4     1  20.17   8.170   2  1.960   1   1   14    0  ...   0  0  0  0  0  0  1  0  0
..   ..    ...     ...  ..    ...  ..  ..  ...  ...  ...  .. .. .. .. .. .. .. .. ..
685   1  31.57  10.500   2  6.500   1   0    0    0  ...   0  0  0  0  0  0  1  0  0
686   1  20.67   0.415   2  0.125   0   0    0    0  ...   0  0  0  0  0  0  1  0  0
687   0  18.83   9.540   2  0.085   1   0    0    0  ...   0  0  0  0  0  0  1  0  0
688   0  27.42  14.500   2  3.085   1   1    1    0  ...   0  1  0  0  0  0  1  0  0
689   1  41.00   0.040   2  0.040   0   1    1    0  ...   0  0  0  0  0  0  0  0  1

[690 rows x 37 columns]

Faça o centering e scaling para todos os atributos.

In [9]:
from sklearn.preprocessing import StandardScaler

# Separando os dados em entradas e saídas
saidas = df["V15"].to_numpy()
entradas = df.drop(["V15"], axis=1).to_numpy()

# Fazendo centering e scaling
scaler = StandardScaler()
scaler.fit(entradas)
entradas = scaler.transform(entradas)

entradas.shape, saidas.shape

((690, 36), (690,))

# Execuções

Para cada um dos classificadores abaixo aplique Validação Cruzada do tipo 5-fold. Utilize AUC como medida de erro de todos os classificadores. A busca de hiperparametros será aleatória. O problema especificará um intervalo para os  hiperparametros. Use uma distribuição uniforme para escolher valores neste intervalo. Se houver mais de um hiperparametro, escolha 10 combinações aleatórias deles.

Reporte o valor do AUC da melhor combinação de hiperparametros e o valor dos hiperparametros encontrados para cada classificador. Também reporte os valores do AUC para os classificadores do Scikit-learn com os valores padrão de hiperparâmetros.

## Regressão Logística (sem regularização)

Não tem hiperparâmetro. Portanto, foi implementada apenas a validação cruzada.

In [18]:
from sklearn.model_selection import cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer, roc_auc_score
import numpy as np

resultados = cross_validate(LogisticRegression(penalty="none"), entradas, saidas, cv=5, scoring={"AUC": make_scorer(roc_auc_score, greater_is_better=True, needs_proba=True)})
resultados = resultados['test_AUC']
print("AUC: %s" % str(resultados))
print("AUC médio: %s" % str(np.mean(resultados)))

AUC: [0.94783905 0.84713647 0.91271024 0.85059423 0.95140068]
AUC médio: 0.9019361326974954